.spark-line {
  height: 0.75em;
  width: 2.5em;
  display: inline-flex;
  position: relative;
  margin-left: 0.05em;
}

.spark-line-poly {
  fill: none;
  stroke-width: 0.15em;
  stroke: currentColor;
}
